*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #20304e;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  /* margin-left: 100px;
  padding-left: 140px; */
  
  text-align: center;
  margin-top: 80px;
 
}

input {
  margin-left: 30px;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 5px;
}

audio {
  margin-top: 10px;
  padding-top: 15px;
}
